/* Global fixes */
html {
  scroll-behavior: smooth;
}

p:empty {
  display: none;
}

body {
  margin: 0em;
}

body main *, body footer * {
  font-family: "Source Sans Pro", sans-serif !important;
  line-height: 150%;
}

body h1 {
  font-weight: 900;
}

body h2 {
  font-weight: 700;
}

body h3,
body h4,
body h5,
body h6 {
  font-weight: 600;
}

p + .exclude__default {
  list-style-type: circle;
  padding: 0px 2rem;
}

p + .exclude__default li {
  margin: 10px 0px;
}

b,
strong {
  font-weight: 500;
}

p {
  font-weight: 400;
  font-size: 1em;
}


body p:not(.exclusion) {
  margin: 1.625em 0px;
}

a,
button {
  cursor: pointer;
}

/* Titles */
.title__404 {
  font-size: 2.5em;
}

/* Links */
.link__404 {
}

/* ! Cookie Popup */
.cky-btn-revisit-wrapper {
	bottom: 100px!important;
}

/* Disabled Cursor */
.forbidden {
  cursor: not-allowed;
}

@media (min-width: 60.5em) {
  .content__part {
    max-width: calc(50em - 2.5em);
    /*padding: 1.125em 5em;*/
  }
}

@media (min-width: 100em) {
  .content__part {
    margin: 0 auto !important;
  }
}

/* Tailwinds Decorations */
@media (min-width: 1024px) {
  .container {
    max-width: 700px !important;
  }
}

/* Scrollbar */
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--MatteBlack);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--LightSilver);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
